* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    background-color: #fff5d7;
    color: #2F1728;
    overflow-x: hidden;
}

nav {
    display: flex;
    background-color: #2E303D;
    justify-content: space-around;
    padding: 20px 0;
    height: 30px;
    align-items: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0px;
    font-weight: 600;
}

nav ul {
    display: flex;
    list-style: none;
    width: 65%;
    justify-content: space-between;
}

.nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #F2F3F0;
    width: 70%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
    width: 70%;
}

nav ul li a {
    color: #F2F3F0;
    text-decoration: none;
    font-size: 16px !important;
}

.shopping-bag {
    color: #F2F3F0;
    margin-left: 100px;
    cursor: pointer;
}

.sign-up {
    color: #2E303D;
    background-color: #F2F3F0;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    width: 75px;
    height: 35px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 20px;
    left: -5px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #F2F3F0;
    border-radius: 5px;
    transition: all 0.7s;
}

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

.logo {
    top: 25px;
}

.slideshow {
    max-width: 100%;
    height: 700px;
    position: relative;
    margin: auto;
    font-family: 'Titillium Web', sans-serif;
}

.slideshow img {
    filter: brightness(30%);
    width: 100%;
    height: 624.5px;
}

/* Caption text */
.text {
    color: #F2F3F0;
    font-size: 40px;
    position: absolute;
    top: 312.25px;
    width: 100%;
    text-align: center;
    font-style: italic;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {
        opacity: .8
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .8
    }

    to {
        opacity: 1
    }
}

.hr-1 {
    width: 70%;
    display: block;
    margin: auto;
    border-style: groove;
    color: #2E303D;
}

.hr-2 {
    width: 50%;
    display: block;
    margin: auto;
    border-style: groove;
    color: #2E303D;
}

.hr-3 {
    width: 30%;
    display: block;
    margin: auto;
    border-style: groove;
    margin-bottom: 30px;
    color: #2E303D;
}

.about-us {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.about-us h2 {
    text-transform: uppercase;
}

.info-about-us {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 55px;
    margin-right: 110px;
}

.info-about-us>div {
    width: 100%;
    margin: 10px;
    font-size: 20px;
}

.info-about-us img {
    width: 100px;
    display: block;
    margin-top: 60px;
    margin-left: 50px;
}

.info-head-about-us {
    margin-bottom: 10px;
}

.product-catalog {
    text-align: center;
}

.product-catalog h2 {
    text-transform: uppercase;
}

.product-catalog button {
    display: inline;
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #4F4F4F;
    border-bottom: 3px solid #4F4F4F;
    border: none;
    background: none;
    margin-top: 20px;
    margin-bottom: 40px;
}

.product-catalog button:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #4F4F4F;
    margin: auto;
    padding-bottom: 10px;
    margin-bottom: -13px;
    width: 70%;
}

.product-catalog button:focus {
    outline: 0;
}

.product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.product-card {
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 15px;
    max-width: 200px;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
    background-color: #eff4f7;
}

.product-card:hover {
    transform: translateY(-5px) scale(1.020);
}

.product-card img {
    width: 200px;
    height: 200px;
    border-radius: 15px 15px 0px 0px;
}

.product-card p {
    font-size: 15px;
    font-weight: bold;
}

.price {
    color: rgb(19, 183, 157);
    font-size: 18px !important;
    margin-top: 15px;
}

.discount {
    font-size: 15px !important;
    display: inline;
    background-color: rgb(255, 209, 220);
    color: rgb(255, 72, 133);
}

.discount-price {
    color: rgb(189, 189, 189);
    font-size: 13px !important;
    display: inline;
    text-decoration: line-through;
}

.product-card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: #F2F3F0;
    background-color: rgb(104, 185, 98);
    /* background-color: #2E303D; */
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
    width: 170px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.product-card button:hover {
    opacity: 0.7;
}

.coffee-wishlist {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10 !important;
    cursor: pointer;
    color: #FFFFFF;
}

.coffee-wishlist:hover {
    opacity: 5;
}

.machine-wishlist {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10 !important;
    cursor: pointer;
}

.machine-wishlist:hover {
    opacity: 5;
}

.manual-brewers-wishlist {
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10 !important;
    cursor: pointer;
}

.manual-brewers-wishlist:hover {
    opacity: 5;
}

.in-wishlist {
    opacity: 1;
    animation-name: wishlist-ani;
    animation-duration: 1000ms;
    color: red;
}

.review {
    color: #F2F3F0;
    font-size: 30px;
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
    font-style: italic;
}

.carousel-reviewer {
    max-width: 100%;
    text-align: center;
    position: relative;
}

.background-reviewer {
    width: 100%;
    height: 600px;
    filter: brightness(10%);
}

.carousel-reviewer h2 {
    font-size: 35px;
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
}

.carousel-reviewer .slides {
    width: 400%;
    margin-top: 50px;
    list-style: none;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
}

.carousel-reviewer .slides li {
    width: 25%;
    position: relative;
    float: left;
}

.carousel-reviewer li p {
    margin-top: 35px;
    margin-bottom: 35px;
    color: rgb(226, 41, 41);
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
}

.carousel-reviewer li q {
    color: #F2F3F0;
    font-size: 1em;
    font-weight: 500;
}

.carousel-reviewer li img {
    width: 3.7em;
    height: 3.7em;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    vertical-align: middle;
    margin-top: 20px !important;
}

.carousel-reviewer .slidesNavigation {
    display: block;
    list-style: none;
    text-align: center;
    bottom: -2em;
    /*--- Centering trick---*/
    /* Absolute positioning*/
    position: absolute;
    /* Absolute positioning*/
    width: 104px;
    /*This width  is the addition of the width of all the navigation dots - So in this case is   104 because the navigation dots are 26px (width:10px and 6px margin-left + 6 px margin-right) and there are 4 dots so 4x26=104 */
    left: 50%;
    /*Centering de element*/
    margin-left: -52px;
    /*adjusting the centering by applying a negative margin of half of the width*/
}

.carousel-reviewer input {
    display: none;
}

.carousel-reviewer .slidesNavigation label {
    float: left;
    margin: 6px;
    display: block;
    height: 10px;
    width: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 2px #2980b9;
    font-size: 0;
}

/* You have to repeat this with each slide
  TODO: make it easier with SCSS
  25% movement 100/slides-num
  */
#radio-1:checked~.slides {
    transform: translateX(0%);
}

#radio-2:checked~.slides {
    transform: translateX(-25%);
}

#radio-3:checked~.slides {
    transform: translateX(-50%);
}

#radio-4:checked~.slides {
    transform: translateX(-75%);
}

.carousel-reviewer .slidesNavigation label:hover {
    cursor: pointer;
}

/* You have to repeat this with each slide/dot */
.carousel-reviewer #radio-1:checked~.slidesNavigation label#dotForRadio-1,
.carousel-reviewer #radio-2:checked~.slidesNavigation label#dotForRadio-2,
.carousel-reviewer #radio-3:checked~.slidesNavigation label#dotForRadio-3,
.carousel-reviewer #radio-4:checked~.slidesNavigation label#dotForRadio-4 {
    background: #2980b9;
}



.openChatBtn {
    background-color: #2E303D;
    color: #F2F3F0;
    padding: 10px;
    border: none;
    border-radius: 8px 8px 0px 0px;
    font-size: 15px;
    cursor: pointer;
    opacity: 1;
    position: fixed;
    bottom: 5px;
    right: 40px;
    width: 240px;
    box-shadow: 0 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.openChat {
    font-size: 16px;
    display: none;
    position: fixed;
    bottom: 0;
    right: 35px;
    z-index: 9;
    box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.head-popupChat {
    background-color: #2E303D;
    color: #F2F3F0;
    text-align: center;
    font-size: 15px;
    padding: 5px 5px;
    height: 25px;
}

.info-msg {
    color: red;
}

form {
    width: 240px;
    background-color: #F2F3F0;
    padding: 10px;
    font-size: 15px;
}


form textarea {
    font-size: 14px;
    margin: 5px 0 22px 0;
    color: #2E303D;
    padding: 10px;
    resize: none;
    min-height: 70px;
    width: 90%;
    height: 30px;
    border: 1px solid;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 10px;
}

form textarea:focus {
    /* background-color: rgb(219, 255, 252); */
    outline: none;
}

form input {
    width: 90%;
    height: 15px;
    border: 1px solid;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 12px;
}

form .btn {
    background-color: rgb(104, 185, 98);
    color: #F2F3F0;
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
    border-radius: 4px;
}

form .close {
    background-color: red;
}

form .btn:hover,
.openChatBtn:hover {
    opacity: 1;
}


footer {
    font-size: 16px;
    font-weight: 600;
    color: #F2F3F0;
    background-color: #2E303D;
    text-align: center;
    height: 30px;
    padding: 20px 0;
}


/* Tablet */
@media screen and (max-width: 1024px) {
    nav ul {
        width: 70%;
    }

    .flex-info {
        display: block;
        text-align: center;
    }

    .flex-info img {
        display: block;
        margin: auto;
    }
}


/* Mobile */
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 75px;
        width: 70%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: -1;
        background-color: #F7F4F2;
        transform: translateX(100%);
        transition: all 1.5s;
        opacity: 0;
    }

    nav ul.slide {
        transform: translateX(0);
        opacity: 1;
    }

    .flex-info {
        display: block;
        text-align: center;
        margin: auto;
    }

    .flex-info img {
        display: block;
    }
}